mixin cards ()
  .cards
    .wrapper.cards-wrapper
      .image-container
        img(src="./assets/icons/facebook.png", alt="facebook")
        img.display(src="./assets/icons/facebook (1).png", alt="facebook")
      .image-container
        img(src="./assets/icons/instagram.png", alt="instagram")
        img.display(src="./assets/icons/instagram (1).png", alt="instagram")
      .image-container
        img(src="./assets/icons/shopify.png", alt="shopify")
        img.display(src="./assets/icons/shopify(1).png", alt="shopify")
      .image-container
        img(src="./assets/icons/skype.png", alt="skype")
        img.display(src="./assets/icons/skype (1).png", alt="skype")
      .image-container
        img(src="./assets/icons/pinterest.png", alt="pinterest")
        img.display(src="./assets/icons/pinterest (1).png", alt="pinterest")
      .image-container
        img(src="./assets/icons/wix.png", alt="wix")
        img.display(src="./assets/icons/wix (1).png", alt="wix")
      .image-container
        img(src="./assets/icons/saleforse.png", alt="saleforse")
        img.display(src="./assets/icons/saleforse (1).png", alt="saleforse")
      .image-container
        img(src="./assets/icons/soundcloud.png", alt="soundcloud")
        img.display(src="./assets/icons/soundcloud (1).png", alt="soundcloud")







        

