mixin header()
  header.header
    .wrapper
      .header-content
        .header-wrapper
          .header-language-switcher ENG
          nav.header-navigation
            .header-navigation-list
              .header-navigation-list-content
                a(href="..//who-is-using/index.html")  DOCUMENTATION
              .header-navigation-list-content /
              .header-navigation-list-content WHO'S USING
        img.logo(src="./assets/logo.svg", alt="logo")