mixin header()
  header.header
    .wrapper.header-wrapper
      .header-content
        .test
          .header-language-switcher ENG
          nav.header-navigation
            .header-navigation-list
              .header-navigation-list-content DOCUMENTATION
              .header-navigation-list-content /
              .header-navigation-list-content
                a(href="..//who-is-using-cards/index.html") WHO'S USING </a>
        img.logo(src="./assets/logo.svg", alt="logo")