mixin main()
  main.wrapper.main-wrapper.main 
  
    //- img(class='background-image' src="./assets/icons/background.svg", alt="background-image") 
    +sidebar
    .main-content
      .section#chapter-1
        .section-content
          .section-wrapper
            .divider
            .title.title-relative
              span.title-name INTRODUCTION
          <span class='title-number'>Chapter 1</span>
        .section-content <div>Welcome to the very start of your React Native journey! If you're looking for environment setup instructions, they've moved to <u>their own section.</u> Continue reading for an introduction to the documentation, Native Components, React, and more!</div>

      .section#chapter-2
        .section-content
          .section-wrapper
            .divider
            .title <span class='title-name'>CORE COMPONENTS</span>
          <span class='title-number'>Chapter 2</span> 
        .section-content <div>React Native is an open source framework for building Android and iOS applications using React and the app platform's native capabiles. With React Native, you use JavaScript to access your platform's APIs as well as to describe the appearance and behavior of your UI using React components: <em>bundles of reusable, nestable code.</em> You can learn more about React in the next section. But first, let's cover how components work in React Native.</div>

      .section#chapter-3
        .section-content
          .section-wrapper
            .divider
            .title <span class='title-name'>REACT FUNDAMENTALS</span>
          <span class='title-number'>Chapter 3</span> 
        .section-content <div>React Native runs on <u>React</u>, a popular open source library for building user interfaces with JavaScript. To make the most of React Native, it helps to understand React itself. This section can get you started or can serve as a refresher course.</div>
        <div>We're going to cover the core concepts behind React:</div>
        <div><strong>+ components.</strong> The rest of this introduction to React uses cats in its examples: friendly, approachable creatures that need names and a cafe to work in.</div>
        <div><strong>+ JSX.</strong> React and React Native use JSX, a syntax that lets you write elements inside JavaScript like so:</div><div>&lt;Text&gtHello, I am your cat!.&lt;/Text&gt</div>
        <div>The React docs have a comprehensive guide to JSX you can refer to learn even more. Because JSX is JavaScript, you can use variables inside it. Here you are declaring a name for the cat, <u>name</u>, and embedding it with curly braces inside &lt;Text&gt</div>
        <div><strong>+ props.</strong> Props is short for “properties”. </div>
        <div><strong>+ state.</strong> While you can think of props as arguments you use to configure how components render, state is like a component’s personal data storage. State is useful for handling data that changes over time or that comes from user interaction. State gives your components memory!</div>


      .section#chapter-4
        .section-content
          .section-wrapper
            .divider
            .title <span class='title-name' >HANDLING TEXT INPUT</span>
          <span class='title-number'>Chapter 4</span> 
        .section-content <div>TextInput is a Core Component that allows the user to enter text. It has an <i>onChangeText</i> prop that takes a function to be called every time the text changed, and an onSubmitEditing prop that takes a function to be called when the text is submitted.</div>
        <div>For example, let's say that as the user types, you're translating their words into a different language. In this new language, every single word is written the same way: &#127829;. So the sentence "Hello there Bob" would be translated as "&#127829; &#127829;".</div>
