mixin sidebar()
  .sidebar
    .wrapper.sidebar-wrapper
      .title <a (class="sidebar-text" href="#chapter-1")>INTRODUCTION</a>
      .title <a (class="sidebar-text" href="#chapter-2")>CORE COMPONENTS</a>
      .title <a (class="sidebar-text" href="#chapter-3")>REACT FUNDAMENTALS</a>
      .title <a (class="sidebar-text" href="#chapter-4")>HANDLING TEXT INPUT</a>

      //- .title <span class="sidebar-text">INTRODUCTION</span>
      //- .title <span class="sidebar-text">CORE COMPONENTS</span>
      //- .title <span class="sidebar-text">REACT FUNDAMENTALS</span>
      //- .title <span class="sidebar-text">HANDLING TEXT INPUT</span>