.header {
  justify-content: space-between;
  background-color: white;
  // min-height: 80px;
  position: sticky;
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
  
  &-content {
    font-family: var(--f-staatliches);
    justify-content: space-between;
    display: flex;
  }
  &-wrapper {
    font-size: var(--fsize-main);
    padding-bottom: 15px;
    align-items: center;
    padding-top: 15px;
    display: flex;
    gap: 50px;
  }
  
  &-navigation-list {
    display: flex;
    gap: 10px;
  }
  &-language-switcher {
    font-weight: var(--fw-semi-bold);
    font-family: var(--f-tourney);
    font-size: var(--fsize-main);
  }
  }