body {
  background-color: rgba(255, 255, 224, 0.501);
}

div {
  font-family: Arial;
  font-size: 18px;
}
.navigation {
  display: flex;
  justify-content: center;
  align-content: space-between;
}
.nav-content {
  margin-top: -45px;
  padding: 35px;
}
.logo-box {
  display: flex;
  justify-content: center;
}
.logo-img {
  height: 300px;
  width: 300px;
}
.cafe-description {
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  font-style: italic;
  margin-top: 50px;
}
.water-sound {
  display: flex;
  justify-content: center;
  padding: 20px;
}
