.website-title {
  text-align: center;
}
.about-me {
  display: inline-block;
  padding-top: 75px;
  max-width: 40%;
}
.container { 
  display: flex;
  flex-direction: row;
}
.resume-photo {
  scale: 0.2;
  display: flex;
  justify-content: center;
  margin-top: -375px;
}