.divider {
  height: 8px;
  width: 100px;
  background-color: #000000;
}
// .flex {
//   display: flex;
//   flex-direction: column;
// }
// .article {
//   display: flex;
//   flex-direction: column;
// }