* {
  box-sizing: border-box;
  // border: 1px solid cornflowerblue;
}
ul {
  list-style-type: none;
}
body {
  min-height: 100vh;
  font-weight: var(--fw-main);
  font-style: var(--fs-main);
  font-family: var(--f-main);
  overflow-x:hidden;
}
a {
  text-decoration: none;

  &:visited {
    color: #000;
  }
  &:link {
    color: #000;
  }
  &-hover {
    cursor: pointer;
  }
}
