* {
  border: 1px red solid;
  box-sizing: content-box;
  /* font-family: Montserrat; */
  margin: 0;
  padding: 0;
}
svg {
  border: none;
}
/* font */
body {
  font-family: "Montserrat", sans-serif;
  margin-top: 30px;
}
/* this is wrapping header in 2 parts */
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.wrapper {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px;
}
/* header */
.header {
  margin-bottom: 100px;
  height: 50px;
}
.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-content {
  padding-right: 15px;
}
.header-content:last-child {
  padding-right: 0;
}
.nav-content {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
}
.nav-buttons-box {
  display: flex;
  gap: 30px;
}
.sing-in-button,
.sing-up-button {
  border-radius: 4px;
  padding-left: 25px;
  padding-right: 25px;
  height: 45px;
  font-size: 16px;
  font-weight: 600;
}
.sing-in-button {
  border: 1px solid #bcd0e5;
  background-color: white;
  color: black;
}
.sing-up-button {
  background-color: orange;
  color: white;
  border: none;
}
/* main section */
.main-wrapper {
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-heading {
  font-weight: 700;
  font-size: 44px;
}
.description {
  font-size: 18px;
  font-weight: 400;
}
.main-text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px;
  height: 300px;
}
.get-started-button {
  border: none;
  border-radius: 4px;
  height: 50px;
  padding-right: 40px;
  padding-left: 40px;
  color: white;
  background-color: orange;
}
.get-started-button-text {
  font-size: 16px;
  font-weight: 700;
}
.graphics {
  max-width: 100%;
}
