:root {
  // Colors
  --c-black: #000000;

  // Fonts
  --f-main: "PT Sans", sans-serif;
  --f-staatliches: "Staatliches", sans-serif;
  --f-francois-one: "Francois One", sans-serif;
  --f-farro: "Farro", sans-serif;
  --f-tourney: "Tourney", sans-serif;
  --f-roboto: "Roboto", sans-serif;

  // Font-weights
  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-main: 400;
  --fw-light: 300;

  // Font-styles
  --fs-main: normal;
  --fs-italic: italic;

  // Font-sizes
  --fsize-main: 22px;
  --fsize-article: 28px;
  --fsize-big: 36px;
  --fsize-regular: 30px
}
