.sidebar {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  max-width: 400px;
  height: 100%;
  width: 100%;
  position: sticky;
  left: 0;
  top: 93px;
  
  &-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    min-width: 400px;
    min-height: 500px;
    flex-direction: column;
    justify-content: space-between;
}

  &-text {
    font-family: var(--f-francois-one);
    font-size: var(--fsize-big);
    letter-spacing: 1px;
}
}